#opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72

numpy==1.24.4
pillow==9.5.0

# torch==2.0.1
# torchvision==0.15.2

Flask==2.3.3
Flask-Login==0.6.2
werkzeug==2.3.7

boto3==1.26.160
scikit-image==0.20.0
